* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.align-item-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.custom-slider {
  width: 100%;
  height: 100vh;
}

.custom-slider .slider-items {
  width: 800px;
  height: 100%;
  position: relative;
}

.custom-slider .slider-items .regiatration {
  width: 50%;
  height: 350px;
  background-color: skyblue;
  top: 0;
  bottom: 0;
  margin: auto;
}

.custom-slider .slider-items .regiatration, .login h3 {
  color: #fff;
}

.custom-slider .slider-items .regiatration button {
  width: 70px;
  height: 40px;
  margin-top: 10px;
  font-size: 20px;
  color: #fff;
  background-color: #356de7;
  border-radius: 0px;
  border: none;
}

.custom-slider .slider-items .login {
  width: 50%;
  height: 350px;
  background-color: #71c8eb;
  top: 0;
  bottom: 0;
  margin: auto;
}

.custom-slider .slider-items .login button#login-button {
  width: 70px;
  height: 40px;
  margin-top: 10px;
  font-size: 20px;
  color: #fff;
  background-color: #356de7;
  border-radius: 0px;
  border: none;
}

.custom-slider .slider-items .form-content {
  width: 50%;
  height: 450px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.custom-slider .slider-items .form-content .registration-form {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 99;
}

.custom-slider .slider-items .form-content .login-form {
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 99;
  position: absolute;
}

.form-content.active {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.form-content.active .registration-form {
  opacity: 1;
  visibility: visible;
}

.form-content.active .login-form {
  opacity: 0;
  visibility: hidden;
}

.custom-slider .slider-items .form-content .registration-form .registration-content {
  width: 100%;
  height: 100%;
  background-color: #e0e0fd;
  text-align: center;
}

.custom-slider .slider-items .form-content .registration-form .registration-content ul {
  list-style: none;
}

.custom-slider .slider-items .form-content .registration-form .registration-content ul li {
  margin-bottom: 10px;
}

.custom-slider .slider-items .form-content .login-form .login-content {
  width: 100%;
  height: 100%;
  background-color: #e0e0fd;
  text-align: center;
}

.custom-slider .slider-items .form-content .login-form .login-content ul {
  list-style: none;
}

.custom-slider .slider-items .form-content .login-form .login-content ul li {
  margin-bottom: 10px;
}

.custom-slider .slider-items .form-content .login-form .login-content ul li input, .registration-form .registration-content ul li input {
  width: 220px;
  height: 30px;
  border-radius: 5px;
  text-align: center;
}

#registerSubmitButton, #logSubmitButton {
  text-align: center;
  width: 80px;
  height: 30px;
  background-color: #f33838;
  color: #fff;
  border-radius: 0px;
  font-size: 19px;
  border: none;
}
/*# sourceMappingURL=style.css.map */